# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Total numbers
totalSchools = school_data_complete["school_name"].nunique()
totalStudents = school_data_complete["Student ID"].count()
totalBudget = school_data_complete["budget"].unique().sum()
#average math & reading
avgMath = school_data_complete["math_score"].mean()
avgReading = school_data_complete["reading_score"].mean()

#Passing counts Math, Reading & Overall
passingMath = school_data_complete[school_data_complete["math_score"] > 70].count()["school_name"]
passingReading = school_data_complete[school_data_complete["reading_score"] > 70].count()["school_name"]
overallPassing = (avgMath + avgReading) / 2
#overallPassing = school_data_complete[(school_data_complete["math_score"] > 70) & (school_data_complete["reading_score"] > 70)].count()["school_name"]
#numberPassing = passingMath + passingReading
#Percentage passing
#percentOverall = (overallPassing / numberPassing) * 100
#percentPassingMath = (passingMath / totalStudents) * 100
#percentPassingReading = (passingReading / totalStudents) * 100

In [3]:
#Percentage passing
percentPassingMath = (passingMath / totalStudents) * 100
percentPassingReading = (passingReading / totalStudents) * 100

In [4]:
USDSummary = pd.DataFrame({"Total Schools":[totalSchools], 
                           "Total Students":[totalStudents], 
                           "Total Budget":[totalBudget], 
                           "Average Math Score":[avgMath],  
                           "Average Reading Score":[avgReading], 
                           "Passing Math":[passingMath], 
                           "Passing Reading":[passingReading], 
                           "Overall Passing Percent":[overallPassing], 
                           "Percent Passing Math":[percentPassingMath], 
                           "Percent Passing Reading":[percentPassingReading]})

USDSummary = USDSummary[["Total Schools", "Total Students", "Total Budget", "Average Math Score", 
                         "Average Reading Score", "Passing Math", "Passing Reading",  
                         "Percent Passing Math", "Percent Passing Reading", "Overall Passing Percent"]]

USDSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Percent Passing Math,Percent Passing Reading,Overall Passing Percent
0,15,39170,24649428,78.985371,81.87784,28356,32500,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
#Summary

schoolType = school_data.set_index(["school_name"])["type"]
schools_groupby = school_data_complete.groupby(["school_name"])
totalStudentsSchool = schools_groupby.count()["Student ID"]
schoolBudget = schools_groupby.mean()['budget']
budgetStudent = schoolBudget / totalStudentsSchool
avgMathScore = schools_groupby.mean()["math_score"]
avgReadingScore = schools_groupby.mean()["reading_score"]
passingMathPercent = school_data_complete[school_data_complete["math_score"] > 70].groupby(["school_name"])
passingReadingPercent = school_data_complete[school_data_complete["reading_score"] > 70].groupby(["school_name"])
mathPer = passingMathPercent.count()["math_score"] / totalStudentsSchool *100
readingPer = passingReadingPercent.count()["reading_score"] / totalStudentsSchool * 100
overallPassing = (mathPer + readingPer)/2

In [6]:
schoolSumm = pd.DataFrame({"School Type":schoolType, 
                           "Total Students":totalStudentsSchool, 
                           "Total Budget per School":schoolBudget, 
                           "Budget per Student":budgetStudent,  
                           "Average Math Score":avgMathScore, 
                           "Average Reading score":avgReadingScore, 
                           "Percent Passing Math":mathPer, 
                           "Percent Passing Reading":readingPer, 
                           "Overall Passing Rate":overallPassing, 
                           })

schoolSumm

,School Type,Total Students,Total Budget per School,Budget per Student,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.214067,92.905199,91.559633
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.277778,93.444444,91.861111

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [7]:
#top five schools
topFive = schoolSumm.sort_values(["Overall Passing Rate"], ascending=False)
topFive

,School Type,Total Students,Total Budget per School,Budget per Student,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.214067,92.905199,91.559633
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.066017,77.744436,70.905226

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [8]:
#bottom five schools
bottomFive = schoolSumm.sort_values(["Overall Passing Rate"], ascending=True)
bottomFive

,School Type,Total Students,Total Budget per School,Budget per Student,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.214067,92.905199,91.559633
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.932983,93.254490,92.093736

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [9]:
#filter data for 9-12 grades
school_data_complete.sort_values("grade", ascending=True)
mathByGrade = school_data_complete.sort_values("grade")
ninth = school_data_complete[school_data_complete["grade"] == "9th"]
tenth = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth = school_data_complete[school_data_complete["grade"] == "12th"]

In [10]:
#groupby school and math score sorted by grades
avgMathNinth = ninth.groupby(["school_name"]).mean()["math_score"]
avgMathTenth = tenth.groupby(["school_name"]).mean()["math_score"]
avgMathEveventh = eleventh.groupby(["school_name"]).mean()["math_score"]
avgMathTwelfth = twelfth.groupby(["school_name"]).mean()["math_score"]

In [11]:
#Display summary of math scores by grade
gradeSummary = pd.DataFrame({'9th':avgMathNinth, 
                             '10th':avgMathTenth,
                             '11th':avgMathEveventh,
                             '12th':avgMathTwelfth})
gradeSummary

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
#summary of reading scores by grade
avgReadingNinth = ninth.groupby(["school_name"]).mean()["reading_score"]
avgReadinghTenth = tenth.groupby(["school_name"]).mean()["reading_score"]
avgReadingEveventh = eleventh.groupby(["school_name"]).mean()["reading_score"]
avgReadingTwelfth = twelfth.groupby(["school_name"]).mean()["reading_score"]
readingSummary = pd.DataFrame({"9th":avgReadingNinth,
                               "10th":avgReadinghTenth,
                               "11th":avgReadingEveventh,
                               "12th":avgReadingTwelfth,
                              })
readingSummary

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [20]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

schoolSumm["Spending per Student"] = pd.cut(schoolSumm["Budget per Student"], spending_bins, labels=group_names)
schoolSumm
#pd.cut(schoolSumm["views"], bins, labels=group_labels).head()

,School Type,Total Students,Total Budget per School,Budget per Student,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,Spending per Student
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.630225,79.300643,71.965434,$615-645
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.558665,93.864370,91.711518,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.750424,78.433367,71.091896,$615-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.753925,77.510040,71.631982,$615-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.713896,93.392371,91.553134,$615-645
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.746494,78.187702,71.467098,$645-675
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.632319,92.740047,91.686183,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.318478,78.813850,71.066164,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.852132,78.281874,71.067003,$645-675
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.683992,92.203742,91.943867,$585-615
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.066017,77.744436,70.905226,$615-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.892107,92.617831,91.254969,$585-615
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.214067,92.905199,91.559633,$615-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.932983,93.254490,92.093736,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.277778,93.444444,91.861111,<$585

In [21]:
schoolSumm2 = schoolSumm.groupby("Spending per Student")
print(schoolSumm2["Spending per Student"].count())

Spending per Student
<$585       4
$585-615    2
$615-645    6
$645-675    3
Name: Spending per Student, dtype: int64

In [24]:
schoolSumm3 = schoolSumm2[["Spending per Student", "Average Math Score", "Average Reading score",  
             "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]].mean()
schoolSumm3

,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Spending per Student,,,,,
<$585,83.455399,83.933814,90.350436,93.325838,91.838137
$585-615,83.599686,83.885211,90.788049,92.410786,91.599418
$615-645,79.079225,81.891436,73.021426,83.214343,78.117884
$645-675,76.997210,81.027843,63.972368,78.427809,71.200088

## Scores by School Size

* Perform the same operations as above, based on school size.

In [28]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

schoolSumm["Size of School"] = pd.cut(schoolSumm["Total Students"], size_bins, labels=group_names)
schoolSumm

,School Type,Total Students,Total Budget per School,Budget per Student,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,Spending per Student,Size of School
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,64.630225,79.300643,71.965434,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,89.558665,93.864370,91.711518,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,63.750424,78.433367,71.091896,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,65.753925,77.510040,71.631982,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,89.713896,93.392371,91.553134,$615-645,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,64.746494,78.187702,71.467098,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,90.632319,92.740047,91.686183,<$585,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,63.318478,78.813850,71.066164,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,63.852132,78.281874,71.067003,$645-675,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,91.683992,92.203742,91.943867,$585-615,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,64.066017,77.744436,70.905226,$615-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,89.892107,92.617831,91.254969,$585-615,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,90.214067,92.905199,91.559633,$615-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,90.932983,93.254490,92.093736,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,90.277778,93.444444,91.861111,<$585,Medium (1000-2000)

In [29]:
schoolSummary = schoolSumm.groupby("Size of School")
print(schoolSummary["Size of School"].count())

Size of School
Small (<1000)         2
Medium (1000-2000)    5
Large (2000-5000)     8
Name: Size of School, dtype: int64

In [30]:
schoolSumm4 = schoolSummary[["Size of School", "Average Math Score", "Average Reading score",  
             "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]].mean()
schoolSumm4

,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Size of School,,,,,
Small (<1000),83.821598,83.929843,91.158155,92.471895,91.815025
Medium (1000-2000),83.374684,83.864438,89.931303,93.244843,91.588073
Large (2000-5000),77.746417,81.344493,67.631335,80.190800,73.911067

## Scores by School Type

* Perform the same operations as above, based on school type.

In [32]:
#by school type
schoolType = schoolSumm.groupby("School Type")
schoolType2 = schoolType[["Average Math Score", "Average Reading score", 
                         "Percent Passing Math", "Percent Passing Reading", "Overall Passing Rate"]].mean()
schoolType2

,Average Math Score,Average Reading score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,90.363226,93.052812,91.708019
District,76.956733,80.966636,64.302528,78.324559,71.313543